<nav class="navbar">
  <app-svgs></app-svgs>
  <ul>
    <li><a routerLink="home" routerLinkActive="active">Home</a></li>
    <li class="accordion" id="securityAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Security
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#securityAccordion">
          <div class="accordion-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a routerLink="/role" routerLinkActive="active">Role</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/user" routerLinkActive="active">User</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/modulo" routerLinkActive="active">Module</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/view" routerLinkActive="active">View</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/person" routerLinkActive="active">Person</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li><a routerLink="role" routerLinkActive="active">Role</a></li>
  </ul>
</nav>
